.chat{
  flex: 0.65;
  display: flex;
  flex-direction: column;
}
.hidden_chat > .chat{
  display: none;
}
.hidden_sidebar > .chat{
  flex: 1;
}
.chat__header{
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.chat__headerInfo{
  flex: 1;
  padding-left: 20px;
}
.chat__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}
.chat__headerInfo > p {
  color: gray;
}

.chat__headerRight{
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}
.chat__body{
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  flex:1;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url('../images/background.png')
}
.chat__message{
  position: relative;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  background-color: white;
  margin-bottom: 30px;
}
.chat__body .chat__message:last-of-type {
  margin-bottom: 0;
}
.chat__name{
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}
.chat__timestamp{
  margin-left: 10px;
  font-size: xx-small;
}
.chat__reciever {
  margin-left: auto;
  background-color: #dcf8c6;
}
.chat__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}
.chat__footer > form {
  display: flex;
  flex: 1;
}
.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}
.chat__footer > form > input:focus {
  outline: none;
}
.chat__footer > form > button {
  display: none;
}
.chat__footer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}
