.sidebarChat{
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}
.sidebarChat.current{
  background-color: #ebebeb;
}
.sidebarChat:hover {
  background-color: #ebebeb;
}
.sidebarChat__info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}
.sidebarChat__info {
  margin-left: 15px
}
a{
  text-decoration: none !important;
  color: black;
}
.sidebarChat__info__lastmessage {
  display: flex;
  font-size: small;
  color: rgba(240, 235, 226, 0.4);
}
.sidebarChat__info__lastmessage .text {
  white-space: nowrap; 
  max-width: 250px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}